<title>IA Dental</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
    #menu a {
        color: black;
        background-color: white;
        padding-bottom: 1px;
        margin-bottom: 1px;
    }
        #menu a:hover {
            color: gray;
            background-color: white;
            border-bottom: black solid 1px;
        }
    .jumbotron.header {
        background-color: darkslategrey;
        color: white;
    }
</style>

<nav class="navbar navbar-dark bg-dark">
  <!-- Conteúdo do navbar -->

        <ul class="nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pacientes</a>
        </li>
        <li class=" nav-item">
            <a class="nav-link" href="/paciente/register">Novo Paciente</a>
        </li>
    </ul>


    <div class="text-right mr-4">
        <a href="/">Sair</a>
        <a href="javascript: history.go(-1)">Voltar</a>
    </div>
</nav>


</div>

<div class="jumbotron header text-left">
    <h1>DIAGNOSTICO INTELIGENTE</h1>
    <p>Analise de Raio-X por Inteligencia Artificial.</p>

</div>



