{% extends "model-page.html" %}

{% block content %}

    <h1 class="text-center">Análise dos Achados em Panorâmica</h1>
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Settings</h5>
      <span class="text-muted">Expansível, atráves da marca no navbar.</span>
        <a class="dropdown-item" href="#">Ação</a>
        <a class="dropdown-item" href="#">Outra ação</a>
        <a class="dropdown-item" href="#">Algo mais aqui</a>
        <a href="/paciente/laudo/{{ paciente.id}}/">
            <button type="button" class="btn btn-danger">Gerar Laudo</button>
         </a>

    </div>

  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container mp-4 mb-4">
   <!-- <img src="C:/SmartDentalDetection/web_iadental/achados_img/achado1.png" alt="some text" width="900" height="250"> -->
    <img src="{{ paciente.imgachado.url }}" width="1126" heigt="532">


     <div class="padding-bottom: 2px">
         {% if request.user == paciente.user %}

         <a href="/paciente/laudo/{{ paciente.id}}/">
            <button type="button" class="btn btn-danger">Gerar Laudo</button>
         </a>

         {% endif %}
     </div>


</div>



{% endblock %}


