{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
{% block main %}

<div class="row">
    <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h2>
                <i class="fa fa-hospital-o" style="font-size:48px;color=blue"></i>
            </h2>
        <div class="card-header">Clinicas</div>
            {% if usuario.paciente.clinicas %}
                <a href="{% url 'update_clinica' usuario.paciente.clinicas.id %}">Edita Clinica</a>
            {% else %}
                <a href="">Add Clinica</a>
            {% endif %}
        </div>
    </div>
    <div class="col-sm">

        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h2>
                <i class="fa fa-users" style="font-size:48px;color=blue"></i>
            </h2>
            {{  usuario.paciente.nome }}
        <div class="card-header"><a href="{% url 'list_pacientes' %}">Gerenciar Pacientes</a></div>
        </div>

        <a href="{% url 'list_pacientes' %}">Gerenciar Pacientes</a>
    </div>
    <div class="col-sm">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <h2>
                <i class="fa fa-stethoscope" style="font-size:48px;color=blue"></i>
            </h2>
        <div class="card-header">Gerenciar Dentistas</div>
        </div>

      Botão temporário:
        <a href="{% url 'logout' %}">LogOut</a>

    </div>
  </div>
<br>

{% endblock%}
</body>
</html>