{% extends 'base.html' %}


{%  block main %}

<p><h2>Lista Pacientes:</h2></p>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome Paciente</th>
    </tr>
  </thead>
</table>
{% for paciente in object_list %}
    <table class="table">
        <tbody>
        <tr>
            <td>{{ paciente }}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="{% url 'detail_paciente' paciente.id %}" class="btn btn-secondary">
          Prontuário
    </a>
    <a href="{% url 'update_pacientes' paciente.id %}" class="btn btn-warning">
          Editar
    </a>
    <a href="{% url 'delete_paciente' paciente.id %}" class="btn btn-danger">
        Deletar
    </a>
    </p>
{% endfor %}

<p>
    <a href="{% url 'create_pacientes' %}" class="btn btn-primary">
        Novo Paciente
    </a>
<br>
</p>

{% endblock %}